:root {
    --border-size: 1px;
}

* {
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

body {
    font-size: 1.5rem;
        height: 100%;
        background: #47636e;
        background: -webkit-linear-gradient(to right, #133133, #AAAAAA);
        background: linear-gradient(to right, #133133, #AAAAAA);
        font-family: 'Trebuchet MS';
        color: white;
}

main {
    display: flex;
}


aside div,
.cell > div {
    width: 32px;
    height: 32px;
    
}


#relva, 
.relva {
    display: inline-block;
    background-image: url("../Imagens/Camada 1/relva.png");
    padding: 1rem 1rem;
    vertical-align: middle;
}

#terra,
.terra {
    display: inline-block;
    background-image: url("../Imagens/Camada 1/terra.png");
    padding: 1rem 1rem;
    vertical-align: middle;
}

#neve,
.neve {
    display: inline-block;
    background-image: url("../Imagens/Camada 1/neve.png");
    padding: 1rem 1rem;
    vertical-align: middle;
}

#pedra,
.pedra {
    display: inline-block;
    background-image: url("../Imagens/Camada 1/pedra.png");
    padding: 1rem 1rem;
    vertical-align: middle;
}

#agua,
.agua {
    display: inline-block;
    background-image: url("../Imagens/Camada 1/agua.png");
    padding: 1rem 1rem;
    vertical-align: middle;
}

#arbustroConjunto,
.arbustroConjunto {
    display: inline-block;
    background-image: url("../Imagens/Camada 2/arbustro_conjunto.png");
    padding: 1rem 1rem;
    vertical-align: middle;
}

#arbustro,
.arbustro {
    display: inline-block;
    background-image: url("../Imagens/Camada 2/arbustro_natural.png");
    padding: 1rem 1rem;
    vertical-align: middle;
}

#arbustroNeve,
.arbustroNeve {
    display: inline-block;
    background-image: url("../Imagens/Camada 2/arbustro_neve.png");
    padding: 1rem 1rem;
    vertical-align: middle;
}

#arbustroConjuntoOutono,
.arbustroConjuntoOutono {
    display: inline-block;
    background-image: url("../Imagens/Camada 2/arbustro_outono.png");
    padding: 1rem 1rem;
    vertical-align: middle;
}

#calhau,
.calhau {
    display: inline-block;
    background-image: url("../Imagens/Camada 2/calhau.png");
    padding: 1rem 1rem;
    vertical-align: middle;
}

#calhauNeve,
.calhauNeve {
    display: inline-block;
    background-image: url("../Imagens/Camada 2/calhau_neve.png");
    padding: 1rem 1rem;
    vertical-align: middle;
}

#cercaNeve,
.cercaNeve {
    display: inline-block;
    background-image: url("../Imagens/Camada 2/cerca_neve.png");
    padding: 1rem 1rem;
    vertical-align: middle;
}

#cogumelos,
.gogumelos {
    display: inline-block;
    background-image: url("../Imagens/Camada 2/cogumelos.png");
    padding: 1rem 1rem;
    vertical-align: middle;
}

#folhas,
.folhas {
    display: inline-block;
    background-image: url("../Imagens/Camada 2/folhas_arvore_natural.png");
    padding: 1rem 1rem;
    vertical-align: middle;
}

#folhasNeve,
.folhasNeve {
    display: inline-block;
    background-image: url("../Imagens/Camada 2/folhas_neve.png");
    padding: 1rem 1rem;
    vertical-align: middle;
}

#folhasOutono,
.folhasOutono {
    display: inline-block;
    background-image: url("../Imagens/Camada 2/folhas_outono.png");
    padding: 1rem 1rem;
    vertical-align: middle;
}

#raiz,
.raiz {
    display: inline-block;
    background-image: url("../Imagens/Camada 2/raiz.png");
    padding: 1rem 1rem;
    vertical-align: middle;
}

#topoSeco,
.topoSeco {
    display: inline-block;
    background-image: url("../Imagens/Camada 2/topo_seco.png");
    padding: 1rem 1rem;
    vertical-align: middle;
}

#tronco,
.tronco {
    display: inline-block;
    background-image: url("../Imagens/Camada 2/tronco_arvore_natural.png");
    padding: 1rem 1rem;
    vertical-align: middle;
}

#troncoNeve,
.troncoNeve {
    display: inline-block;
    background-image: url("../Imagens/Camada 2/tronco_neve.png");
    padding: 1rem 1rem;
    vertical-align: middle;
}

#troncoOutono,
.troncoOutono {
    display: inline-block;
    background-image: url("../Imagens/Camada 2/tronco_outono.png");
    padding: 1rem 1rem;
    vertical-align: middle;
}

#troncoSeco,
.troncoSeco {
    display: inline-block;
    background-image: url("../Imagens/Camada 2/tronco_seco.png");
    padding: 1rem 1rem;
    vertical-align: middle;
}

#blocos {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 820px;

}


#map {
    
    display: flex;
    flex-wrap: wrap;
    background-color: #AAAAAAAA;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    
   
}

.cell {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: solid 1px;
    position: relative;
}

.cell.hover {
    border: 2px dotted green;
}

.cell > div {
    position: absolute;
    top: calc(-1 * var(--border-size));
    left: calc(-1 * var(--border-size));
}

p {
    font-size: 1.5rem;
}


