:root {
    --border-size: 1px;
}

* {
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

body {
    font-size: 1.5rem;
}

main {
    display: flex;
}


aside div,
.cell > div {
    width: 32px;
    height: 32px;
    
}

#relva, 
.relva {
    display: inline-block;
    background-image: url("imagens/Camada 1/relva.png");
    padding: 1rem 1rem;
    vertical-align: middle;
}

#terra,
.terra {
    display: inline-block;
    background-image: url("imagens/Camada 1/terra.png");
    padding: 1rem 1rem;
    vertical-align: middle;
}

#neve,
.neve {
    display: inline-block;
    background-image: url("imagens/Camada 1/neve.png");
    padding: 1rem 1rem;
    vertical-align: middle;
}

#pedra,
.pedra {
    display: inline-block;
    background-image: url("imagens/Camada 1/pedra.png");
    padding: 1rem 1rem;
    vertical-align: middle;
}

#agua,
.agua {
    display: inline-block;
    background-image: url("imagens/Camada 1/agua.png");
    padding: 1rem 1rem;
    vertical-align: middle;
}


#map {
    
    display: flex;
    flex-wrap: wrap;
    background-color: #AAAAAAAA;
    margin-left: 100px;
   
}

.cell {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: solid 1px;
    position: relative;
}

.cell.hover {
    border: 2px dotted green;
}

.cell > div {
    position: absolute;
    top: calc(-1 * var(--border-size));
    left: calc(-1 * var(--border-size));
}

p {
    font-size: 1.5rem;
}


